.main-container {
  display: flex;
  flex-direction: column;
}
.menu {
  margin-bottom: 0.5rem;
}
.menu span:first-of-type {
  margin-right: 8px;
}
.todos-container {
  height: calc(500px + 1rem);
  width: 100%;
  border-radius: 0.175rem;
  background: #fff3a6;
  padding: 0.5rem 0.8rem;
}
.icon {
  cursor: pointer;
  color: #6e6c65;
  font-size: 20px;
}
.icon.disabled {
  user-select: none;
  cursor: not-allowed !important;
}
.icon.disabled:hover {
  color: #6e6c65 !important;
}
.icon:hover {
  color: #2e2b1c;
}
.pagination-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
